/*	样式初始化开始 */
* {
  margin: 0;
  padding: 0;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img {
  display: block;
}
.clearfix::after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
/*	样式初始化结束 */
